@{
        ViewData["Title"] = "About Page";
}
<div class="text-center">
    <h1>STUDENT INFORMTIONS</h1>

    <p>Name       :    Macatangay, Lyca P.</p>
    <p>Course     :    BSIT</p>
    <p>Year       :    3rd Year </p>
    <p>Section    :    31E1 </p>
    <p>Student No.:    2226-19</p>
</div>
